body{
	width:100%;height:100%;
	background: url(../img/图片1.png) no-repeat center top;
	background-size: 100%;


	
	position: relative;
}
.top-name{
	font-size: 100px;
	color: #C13C4D;
	position: absolute;
	left: 240px;
	top: 200px;
	text-shadow: 5px 5px 5px yellow;
}
.logo{
	
	right: 0;
	top: 0;
	background: url(../img/43cb046e4639cd00b7bb8c003bb1205e_1000.webp);
	background-size: 100%  100%;
	
}
.top-logo{
	position: absolute;
	right: 200px;
	top: 200px;
	
}
.top-logo a{
	display: block;
	width: 300px;
	height: 300px;
}

